
@media (max-width: 900px) {

  h2 {
    font-size: 20px;
  }
  .desktop {
    display:none;
  }
  .mobile {
    width: 100%;
    clear: both;
    display: block;
    padding: 0
  }

  body {
    background-image:
        linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 1)),
        url('../img/mobobg.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0% 100%;

    height: 100vh;
  }

  .mobotitle {
    width: 100%;
    padding: 3% 0 0;
    margin: 0;
  }

  .mobotitle img {
    display: block;
    width: 100%;
  }

  .moboright {
    width: 100%;
    float: left;
    margin-bottom: 40%
  }

  .mobotitme {
    width: 66%;
  }

  .mobotitme img {
    width: 100%;
  }


  .moboemail {
    width: 56%;
    margin: 0 0 2%;
  }

  .moboemail img {
    width: 100%;
  }

  .footcontent {
    width: 100%;
    margin: 0;
  }

  .mobocontent {
    padding: 0 0;
  }


  header {
    background: #ff0000;
    text-align: center;
    padding: 5px 0 0;
  }

  header img {
    width: auto;
    height: 58px;
  }


}
@media (min-width: 900px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }


  body {
    background-image:
        linear-gradient(to right, rgba(255,255,255, 0), rgba(255,255,255, 1) 90%),
        linear-gradient(to top, rgba(255,255,255, 0) 95%, rgba(255,255,255, 1)),
        url('../img/bg.jpg');

    background-position: 0px 140px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    height: 100vh;
  }

  .mobile {
    width: 100%;
    clear: both;
  }

  header {
    background: #ff0000;
    text-align: center;
    padding: 0;
  }

  header img {
    width: auto;
    height: 90px
  }


  .phone {
    width: 100%;
    margin: 2% 0 0
  }

  .phone img {
  }

  .footcontent {
    width: 100%;
    margin: 0;
  }


}


