body{    margin:0; padding:0;  background:url(../img/bg1.jpg) no-repeat 100% 100px; background-size: cover;  height: 100vh; }
header{ background:#253b87; text-align:center; border-top:20px #000 solid;}
.mainContentArea{ width:100%; clear:both; overflow:hidden;   margin:0; padding:0; height:100%;  }
.leftside {
    width: 100%;
    max-width: 55%;
    padding: 0px;
    margin: 5% 0 0 5%;
}
.title{ margin:0 0 0}
.title img {
    width: 100%;
}
.text{ margin:0 0 0;}
.text img {
    width:100%;
}
.leftside a{ display:block; margin:0 0 0;}
.leftside a.phone img {
    width: 100%;
}
.leftside a.email img {
    width: 100%
}

.inner{ }
.hidedesk{ display:none;}